
a{
  text-decoration: none;
}

header{
  display: flex;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  padding:0px 15px ;
  background-color: white;
}

.R-header{
  display: flex;
  justify-content: space-around;
  gap: 32px;

}

.l-container {
  margin: 0 auto;
  max-width: 1032px;
  padding: 0 24px;
  width: 100%;
}

.SNS{
  display: flex;
  gap: 16px;
}

.hero{
  background-image: url(./img_files/bg-hero.jpg);
  padding: 110px 0 76px;
  background-size: cover;
}

.hero-big{
  font-size: 60px;
  font-weight: 700;
  color: white;
}

.hero-small{
  font-size: 19px;
  font-weight: 700;
  color: white;
}

main{
  display: block;
}

.Q-box{
  width: 80px;
  height: 70px;
  background-color: #0071BC;
  text-align: center;
  line-height: 70px;
  border-radius: 15px;
  font-size: 36px;
  font-weight: 700;
  color: white;
  margin-top: 120px;
}

.Q-sentence{
  font-size: 36px;
  font-weight: bold;
  margin-top: 24px;
}

.Q-img{
  margin: 65px 150px;
}

.A-box{
  width: 60px;
  height: 70px;
  background-color: #e34e70;
  text-align: center;
  line-height: 70px;
  border-radius: 15px;
  font-size: 36px;
  font-weight: 700;
  color: white;
}

.A-option{
  margin-top: 30px;
  display: flex;
  gap: 24px;
  cursor: pointer;
}

.A-option li{
  border: solid 5px #eee;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  font-weight: bold;
  font-size: 20px;
  width: 100%;
  justify-content: space-between;
}

.colum{
  margin-top: 30px;
  margin-bottom: 24px;
  display: flex;
  gap: 30px;
  background-color: #eee;
  padding: 20px;
  border-radius: 10px;
}

.colum-img{
  line-height: 14px;
}

.colum-de{
  font-weight: bold;
}


.footer-img{
  border-top: 1px solid #eee;
  padding-top: 60px;
  text-align: center;
}

.footer-de{
  text-align: center;
  padding-top: 30px;
}

.footer-sns{
  text-align: center;
  padding-top: 30px;
  padding-bottom: 60px;
  gap: 30px;
}

/* .f-sns{
  height: 50px;
  width: 50px;
  border: 0.1px solid #eee;
  margin: 10px;
  border-radius: 50%;
  padding: -10px;
  overflow: hidden;
} */


.footer{
  text-align: center;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  height: 100px;
  line-height: 100px;
  font-size: 10px;
  color: grey;
}







